.violet { color: violet;}
.indigo { color: indigo;}
.blue { color: blue;}
.green { color: green;}
.yellow { color: yellow;}
.orange { color: orange;}
.red { color: red;}
.pink { color: pink;}
.white { color: white;}
.black { color: black;}
.grey { color: grey;}

.bg-violet { background-color: violet;}
.bg-indigo { background-color: indigo;}
.bg-blue { background-color: blue;}
.bg-green { background-color: green;}
.bg-yellow { background-color: yellow;}
.bg-orange { background-color: orange;}
.bg-red { background-color: rgba(255,0,0,0.7);}
.bg-pink { background-color: pink;}
.bg-white { background-color: white;} 
.bg-black { background-color: black;}
.bg-grey { background-color: grey;}